<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mood Prediction</title>
</head>
<body>
    <h1>Mood Prediction</h1>
    {% if results %}
    <h2>Results</h2>
    <p>Overall Mood: {{ results.overall_mood }}</p>
    <p>Normal Percentage: {{ results.Normal_percentage }}%</p>
    <p>Happiness Percentage: {{ results.happiness_percentage }}%</p>
    <p>Sadness Percentage: {{ results.sadness_percentage }}%</p>
    <p>Stress Percentage: {{ results.stress_percentage }}%</p>
    {% endif %}
</body>
</html>
